*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(200, 200, 200);
    

}

#menu-h ul {
    width: 100%;
    
    display: block;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 0;
    list-style: none;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    text-decoration: none;
    padding: 20px;
    color: black;
    display: inline-block;
    transition: background .4s;
    font-size: 19px;
}

#menu-h ul li a:hover {
    background-color: rgb(54, 40, 119);
    color: beige;
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(0, 0, 0);
    color: white;
}

img.logo {
    width: 320px;
    margin-left: -0.6cm;
}

div.entrada {
    
    margin: 0 auto;
    background-image: url(img/imagem_release_1752817-2.jpg);
    background-size: cover;
}

.rodape{
   float: inline-start;
   display: flex;    
}

.rodape p {
    background-color: rgb(132, 132, 136);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main {
    width: 90%;
    height: 680px;
    display: table;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 15%);
    flex-basis: 10%;
    
}
.cont1{
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.box-container {
    width: 300px;
    margin: 60px 60px 0 60px;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    display: table;
    float: left;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 15%);
    border-radius: 8px;
    flex-basis: 10%;
}   
.box-container h1 {
    color: rgb(238, 234, 234);
    
}
.box-container p {
    color: rgb(238, 234, 234);
    
}
.box-container a{
  text-decoration: none;
  
}
.box-container a:hover{
    background-color: rgba(238, 228, 228, 0.301);
    border-radius: 4px;
    display: block;
    height: 100%;
    
}
.box {
    width: 100%;
    height: 200px;
    display: block;
   
    border-radius: 10px;
    border: 4px solid black;
    box-sizing: border-box;
    
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.btn {
    width: 200px;
    height: 45px;
    margin: auto;
    padding: 3;
    box-sizing: border-box;
    background-color: rgb(15, 15, 197);
    border-radius: 4px;
    display: block;
    margin-top: 25px;
    text-align: center;
}
.btn a {
    text-decoration: none;
    
}

.btn h1 {
   color: antiquewhite;
   font-size: 22px;  
   line-height: 40px;
}

.box-containergame {
    width: 300px;
    margin: 60px 60px 0 60px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(228, 226, 226);
    display: table;
    float: left;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.486);
    border-radius: 8px;
    border: 2px solid black;
}
.box-containergame h1 {
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.box-containergame a:hover{
    background-color: rgba(238, 228, 228, 0.301);
    border-radius: 4px;
    display: block;
    height: 100%;
    
} 
.boxgame {
    width: 100%;
    height: 210px;
    display: block;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    
}
.boxgame img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.btngame {
    width: 200px;
    height: 45px;
    margin: auto;
    padding: 3;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    border-radius: 13px;
    display: block;
    margin-top: 25px;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.486);
}

.btngame h1{
   color: antiquewhite;
   font-size: 22px;  
   line-height: 40px;
}
.btngame a {
    text-decoration: none;
    
}
.titlegame{
    text-align: center;
}